* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    position: fixed;
    z-index: 10;
    width: 100%;
    border: 10px;
    border-bottom: #1c1f25;
}

nav {
    background-color: #1f2023;
    border-bottom-left-radius: 2em 0.7em;
    border-bottom-right-radius: 2em 0.7em;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}



.navbar-brand {
    font-weight: 800;
    font-size: 25px;
    font-style: oblique;
    padding-left: 20px;

}

.shop-icon {
    background-color: #292c36;
    color: white;
    font-size: 20px;
    border: 0px;
    border-radius: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px !important;
}

.shop-icon:hover {
    background-color: #35373d;
}

.qtyTickets-icon {
    font-size: 10px;
    font-weight: 700;
    border-radius: 100px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 1px;
    background-color: red;
    z-index: 20;
}


.qtyTickets {
    color: white;
    background-color: rgba(156, 149, 196, 0.466);
    border-radius: 10px;
    padding: 10px;
}



/*  Mobile First */

.navbar-brand {
    font-size: 20px;


}

.portada {
    background-color: #26282c;
}


.portada__texto h2 {
    color: white;
    font-weight: 600;
}

.portada__carousel {
    width: 100%;

}

.portada__texto h2 {
    font-size: 35px;

}

.portada__subtitle {
    background-color: #1f2023;
    font-size: 13px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 0.8px;

}

.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #59359a;
    border: 0px;
    font-size: 20px;
    width: 200px;
    height: 52px;
    letter-spacing: 1.5px;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px !important;
}

.destacados {
    background-color: #26282c;
    color: white;
}

.destacados__texto h2 {
    font-size: 25px;
    font-weight: 700;
    margin: 0px;
}

.destacados__texto p {
    margin: 0px;
}


.line {
    width: 150px;
    height: 4px;
    background-color: white;
}

.destacados__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* Shows */

.shows {
    background-color: #26282c;
    color: white;
}

.shows__texto h2 {
    font-size: 25px;
    font-weight: 700;
    margin: 0px;

}

.shows__texto p {
    font-size: 18px;
    margin: 0px;


}

.cuadricula {
    display: flex;
    gap: 2rem;
}

.card {
    width: 17rem;
    background-color: #161719;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.card-title {
    font-weight: 600;
}

.card-text {
    color: white;
    font-style: italic;
    font-weight: 100;
    font-size: 15px !important;
}

.btn-dark {
    width: 100%;
    background-color: #59359a;
}

.card-img-top {
    width: 100%;
    border-radius: 10px;
}



/* MODAL TICKET */


.ticketSelection {
    color: antiquewhite;
    background-image: url(../img/fondo.png);
    background-size: cover;

}

.containerTicket {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.imgModal {
    width: 60%;
    border-radius: 10px;
}

.ticket__band {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;

}

.ticket__info h2 {
    font-weight: 600;

}

.ticket__info h4 {

    font-size: 15px;
    margin: 0;

}



.typeTickets {
    width: 85%;
    height: 70px;
    border-radius: 10px;
    border: 0;
}



.buyTicket {
    background-color: #1F2023;
    color: white;
}

.sector-select {
    background-color: #1F2023;
    color: white;
    width: 220px;
    height: 70px;
    border-radius: 0;
    border: 0;
    padding: 10px;
}

.qty-select {
    background-color: #1F2023;
    color: white;
    height: 70px;
    border-radius: 0;
    border: 0;
    padding: 20px;
}
















/* DESKTOP */

@media (min-width: 600px) {

    .portada {
        background-color: #26282c;
        padding-top: 30px;
    }

    .portada__subtitle {
        font-size: 40px;
        padding: 20px !important;

    }

    .portada__texto h2 {
        font-size: 80px !important;
        font-weight: 700;
    }


    .portada__carousel {
        width: 100%;
    }


    /*
.btn-primary {
    font-size: 25px;
    font-weight: 600;
    width: 20rem;
    background-color: #59359a !important;
    border: 0;

}
*/


    /* DESTACADO */

    .destacados__texto h2 {
        font-size: 35px;
        font-weight: 700;
        padding-top: 50px;
    }

    .portada__subtitle {
        background-color: #1f2023;
        color: white;
        padding: 10px;
        width: fit-content;
        border-radius: 5px;
        font-weight: 600;
    }


    .line {
        width: 350px;
        height: 5px;
        background-color: white;
    }

    /* SHOWS */

    .shows__texto h2 {
        font-size: 35px;
        font-weight: 700;
    }

    .shows__texto p {
        font-size: 30px;
    }


    /* MODAL TICKET */

    .imgModal {
        width: 30%;
        border-radius: 10px;
    }

    .containerTicket {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }


}


/* SHOP */

.shop {
    background-color: #1F2023;
}

.modal-container {
    background: rgba(217, 217, 217, 0.5);
    border-radius: 15px;
}

.imgShop {
    width: 125px;
    border-radius: 15px;
    margin: 10px;
    margin-left: 20px;
}