* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





/*  Mobile First */


header {
    position: fixed;
    z-index: 10;
    width: 100%;
    border: 20px;
    border-bottom: #d5d7dc;

}

.navbar {
    background-color: #1c2028;
    border-color: #00000032;

    border-bottom-left-radius: 2em 0.7em;
    border-bottom-right-radius: 2em 0.7em;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}



.navbar-brand {
    font-weight: 800;
    font-size: 25px;
    font-style: oblique;
    padding-left: 20px;

}

.shop-icon {
    background-color: #292c36;
    color: white;
    font-size: 20px;
    border-color: #789cef56;
    border-radius: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.shop-icon:hover {
    background-color: #35373d;
}

.qtyTickets-icon {
    font-size: 10px;
    font-weight: 700;
    border-radius: 100px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 1px;
    background-color: red;
    z-index: 20;
}


.qtyTickets {
    color: white;
    background-color: rgba(156, 149, 196, 0.466);
    border-radius: 10px;
    padding: 10px;
}

.navbar-brand {
    font-size: 20px;


}

.portada {
    background-color: #26282c;
}


.portada__texto h6 {
    font-size: 35px;
    color: white;
    font-weight: 600;



}

.portada__carousel {
    width: 100%;

}


.portada__box {
    display: flex;
    align-items: center;
    justify-content: center;

}

.portada__box {
    position: relative;
    z-index: 5;

}

.portada__subtitle {


    font-size: 14px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 0.8px;
    background-color: #1c1f25;
    position: relative;
}

.portada__subtitle::after {
    position: absolute;
    top: 0px;
    left: 0px;
    content: '';
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    width: 100%;
    height: 100%;
    filter: blur(5px);
    z-index: -1;
}



.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5f13ee;

    border: 0px;
    font-size: 20px;
    width: 200px;
    height: 52px;
    letter-spacing: 1.5px;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px !important;

}

.btn-primary:hover {
    background-color: #52328e;

}






.destacados {
    background-color: #26282c;
    color: white;


}

.destacados__texto h2 {
    font-size: 25px;
    font-weight: 700;
    margin: 0px;


}

.destacados__texto p {
    margin: 0px;
}


.line {
    width: 150px;
    height: 4px;
    background-color: white;



}

.destacados__img {
    display: flex;
    flex-direction: column;
    justify-content: center;

}



/* Shows */

.shows {
    background-color: #26282c;
    color: white;

}

.shows__texto h2 {
    font-size: 25px;
    font-weight: 700;
    margin: 0px;

}

.shows__texto p {
    font-size: 18px;
    margin: 0px;


}

.cuadricula {
    display: flex;
    gap: 2rem;
}

.card {
    width: 17rem;
    background-color: #10101a6d;
    border-color: #00000032;

    border-radius: 20px;
    border: 100;

}


.card-title {
    font-weight: 600;
}

.card-text {
    color: white;
    font-style: italic;
    font-weight: 100;
    font-size: 15px !important;
}

.btn-dark {
    width: 100%;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.card-img-top {
    width: 100%;
    border-radius: 10px;

}



/* MODAL TICKET */



.modal-content {
    border-radius: 30px;
    margin-top: 100px;
    border: 0;

}

.modal-body {
    height: 520px;
    border-radius: 30px;
    border: 0;



}

.ticketSelection {
    color: white;
    /* background: linear-gradient(to right, #000000, #434343); */
    background-image: url(/img/fondoModal.jpg);
    background-size: contain;

}

.ticket__info-texr {
    padding-bottom: 2px;
}

.containerTicket {

    gap: 5px;
}

.imgModal {
    width: 40%;
    border-radius: 10px;

}

.ticket__band {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 0px;

}


.ticket__info h2 {
    font-weight: 600;
    font-size: 14px;
    margin-top: 20px;


}

.ticket__info h4 {

    font-size: 11px;
    margin: 0;
    font-weight: 600;

}



.typeTickets {
    width: 97%;
}


.btnTicket {
    border: 0;
    border-radius: 0;
}

.buyTicket {
    color: white;
    background-color: #5f13ee;
    width: 180px;
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.buyTicket:hover {
    background-color: #52328e;

}

.sector-select {
    background-color: #1F2023;
    color: white;
    width: 100%;
    height: 50px;
    border: 0;
    padding: 10px;
    border-radius: 0;
}

.qty-select {
    background-color: #1F2023;
    color: white;
    height: 70px;
    border-radius: 0;
    border: 0;
    padding: 20px;
}
















/* DESKTOP */

@media (min-width: 600px) {


    .navbar-brand {
        font-size: 40px;

    }


    .shop-icon {
        font-size: 35px;

    }


    .qtyTickets-icon {
        font-size: 18px;
        font-weight: 700;
        border-radius: 100px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
        margin-bottom: 1px;
        background-color: red;
        z-index: 20;
    }


    .qtyTickets {
        color: white;
        background-color: rgba(156, 149, 196, 0.466);
        border-radius: 10px;
        padding: 10px;
    }



    .portada {
        background-color: #26282c;
        padding-top: 70px !important;
    }

    .portada__texto h6 {
        font-size: 80px;
        font-weight: 700;
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .portada__subtitle {
        font-size: 40px;
        font-weight: 600;

        padding: 20px !important;
        margin-bottom: 50px !important;


    }




    .btn-primary {
        font-size: 25px;
        font-weight: 600;
        width: 30rem;
        padding: 50px;

    }



    /* DESTACADO */

    .destacados__texto h2 {
        font-size: 55px;
        padding-top: 50px;
    }

    .destacados__texto p {
        font-size: 25px;
    }



    .line {
        width: 350px;
        height: 5px;
        background-color: white;

    }


    .shows__texto h2 {
        font-size: 55px;
        font-weight: 700;
    }

    .shows__texto p {
        font-size: 25px;
    }


    /* MODAL TICKET */

    .imgModal {
        width: 30%;
        border-radius: 10px;
    }

    .containerTicket {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .ticketSelection {
        color: white;
   
      
    }
}


/* SHOP */

.shop {
    background-color: #1F2023;
}

.modal-container {
    background: rgba(217, 217, 217, 0.5);
    border-radius: 15px;
}

.imgShop {
    width: 125px;
    border-radius: 15px;
    margin: 10px;
    margin-left: 20px;
}